{% extends "base.html" %}

{% block title %}ログイン
{% endblock %}
{% block h1 %}ログイン
{% endblock %}

{% block content %}
	<form method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
		{% csrf_token %}

		<label>ユーザ ID</label>
		<input class="form-control" name="username">
		<label>パスワード</label>
		<input type="password" class="form-control" name="password">
		{% if form.errors %}
			<span class="mb-2 small text-danger d-block text-start">入力されたユーザーIDまたはパスワードが利用できません。</span>
		{% endif %}
		<button type="submit" class="btn btn-success mt-4">ログインする</button>
	</form>
{% endblock content%}
