{% load static %}

<!-- 行要素を配置 -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="Box1">
    <!-- レコードが格納されたobject_listから
     レコードを1行ずつrecordに取り出す-->

    {% for item in object_list %}
    <!-- 列要素を配置 -->
    <div class="col">
        <div class="card shadow-sm">
            <!-- svgタグをimgに変更
         src属性を追加して1枚目のイメージのURLを設定 -->
            {% if item.thumbnail %}
            <img src="{{ item.thumbnail.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice" focusable="false">


            {% else %}
            <img src="{% static 'book/noimage.png' %}" class="bd-placeholder-img card-img-top" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice" focusable="false">


            {% endif %}
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />


            <!-- タイトルとボタンを出力するブロック -->
            <div class="card-body">
                <p class="card-text">
                    <!-- titleフィールドを出力 -->
                    {{item.title}}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <!-- 詳細ページを表示するボタン -->
                        <button type="button" class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='{% url 'detail-book' item.pk %}'">
                            View</button>
                        <!-- カテゴリを表示するボタン -->

                    </div>
                    <!-- 投稿したユーザー名を出力-->
                    <small class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-check"
                            width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                            <path
                                d="M11.143 17.961c-3.221 -.295 -5.936 -2.281 -8.143 -5.961c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6c-.222 .37 -.449 .722 -.68 1.057">
                            </path>
                            <path d="M15 19l2 2l4 -4"></path>
                        </svg>
                        {{item.views}}回 ・
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle"
                            width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                        </svg>
                        {{item.user}}
                    </small>


                </div>
            </div>
        </div>
        <!-- 列要素ここまで -->
    </div>
    <!-- forブロック終了 -->
    {% endfor %}



    <!-- 行要素ここまで -->
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="Box2" style="display:none;">
    <!-- レコードが格納されたobject_listから
     レコードを1行ずつrecordに取り出す-->

    {% for item in object_list|dictsortreversed:"views" %}
    <!-- 列要素を配置 -->
    <div class="col">
        <div class="card shadow-sm">
            <!-- svgタグをimgに変更
         src属性を追加して1枚目のイメージのURLを設定 -->
            {% if item.thumbnail %}
            <img src="{{ item.thumbnail.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice" focusable="false">


            {% else %}
            <img src="{% static 'book/noimage.png' %}" class="bd-placeholder-img card-img-top" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice" focusable="false">


            {% endif %}
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />


            <!-- タイトルとボタンを出力するブロック -->
            <div class="card-body">
                <p class="card-text">
                    <!-- titleフィールドを出力 -->
                    {{item.title}}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <!-- 詳細ページを表示するボタン -->
                        <button type="button" class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='{% url 'detail-book' item.pk %}'">
                            View</button>
                        <!-- カテゴリを表示するボタン -->

                    </div>
                    <!-- 投稿したユーザー名を出力-->
                    <small class="text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-check"
                            width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                            <path
                                d="M11.143 17.961c-3.221 -.295 -5.936 -2.281 -8.143 -5.961c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6c-.222 .37 -.449 .722 -.68 1.057">
                            </path>
                            <path d="M15 19l2 2l4 -4"></path>
                        </svg>
                        {{item.views}}回 ・
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle"
                            width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                        </svg>
                        {{item.user}}
                    </small>


                </div>
            </div>
        </div>
        <!-- 列要素ここまで -->
    </div>
    <!-- forブロック終了 -->
    {% endfor %}



    <!-- 行要素ここまで -->
</div>