{% extends "base.html" %}
{% load static %}

{% block title %}ホーム
{% endblock %}
{% block h1 %}本だなアプリ
{% endblock %}

{% block content %}
	<!-- タイトルとナビゲーションボタン -->
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div
				class="col-lg-6 col-md-8 mx-auto">
				<!-- タイトルと本文 -->
				<h1 class="fw-light">Product Gallery</h1>
				<p class="lead text-muted">
					プロダクトの投稿サイトです。サムネイルも付けてくださいね！
				</p>
				<p>
					<!-- ナビゲーションボタン -->
					{% if request.user.is_authenticated %}
						<!-- ログイン中のボタン -->
						<a href="{% url 'create-book' %}" class="btn btn-primary my-2">プロダクト登録</a>
						<a href="{% url 'accounts:logout' %}" class="btn btn-secondary my-2">ログアウト</a>
					{% else %}
						<!-- ログイン状態ではない場合のボタン -->
						<a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">サインアップ</a>
						<a href="{% url 'accounts:login' %}" class="btn btn-secondary my-2">ログイン</a>
					{% endif %}
				</p>
				{% if messages %}
					<ul>
						{% for message in messages %}
							<p class="mb-1">
								{{ message }}
							</p>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</section>

	<div class="col-auto m-1">
		<select class="form-control select-custom" id="sample" onchange="viewChange();">
			<option value="select1">
				新しい順
			</option>
			<option value="select2">
				閲覧回数順
			</option>
			<option value="select3">
				レビュー評価順
			</option>
		</select>
	</div>

	<div
		class="album py-5 bg-light">

		<!-- Bootstrapのグリッドシステムを適用 -->
		<div
			class="container">

			<!-- 行要素を配置 -->
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="Box1">
				{% for item in index_book_list %}
					{% include "book/components/pulldown.html" %}
				{% endfor %}
			</div>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="Box2" style="display:none;">
				{% for item in index_book_list|dictsortreversed:"views" %}
					{% include "book/components/pulldown.html" %}
				{% endfor %}
			</div>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="Box3" style="display:none;">
				{% for item in review_ranking %}
					{% include "book/components/pulldown.html" %}
				{% endfor %}
				<!-- 行要素ここまで -->
			</div>
			<!-- グリッドシステムここまで -->
		</div>
	</div>
	<link rel="stylesheet" href="{% static 'book/css/index.css' %}">
	<script src="{% static 'book/js/index.js' %}"></script>
{% endblock content %}
